@import '../../../Styles/Variables';
@import '../../../Styles/Mixins';

.ModalBeneficiary{
    position: fixed;
    @include FlexBox(center, center, row);
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 100vh;
    // inset: 10px 20px 30px 40px;
    backdrop-filter: blur(5px);
    letter-spacing: 2px;

    &__Content{
        @include FlexBox(center, center, column);
        width: 80%;
        height: 70%;
        background-color: $background-modal;
        color: #fff;
        font-size: $font-size;
        font-family: $font-family;        
    }
}

.Close {
    cursor: pointer;

    svg {
        width: 40px;
        height: 40px;
    }

    &:hover {
        color: rgb(253, 99, 99);
    }
}

.ContainerRadio {
    @include FlexBox(center, center, row);
    font-size: 1.2rem;

    &__Radio {
        @include FlexBox(center, center, row);
        margin: 10px 15px;

        input {
            margin: 0 5px;
        }
    }
}

.Container {
    @include FlexBox(center, center, column);
    width: 100%;
    padding: 15px 0;

    &__item {
        width: 80%;
        @include FlexBox(center, center, row);
    }

    &__Button {
        @include FlexBox(center, space-around, row);
        flex-wrap: wrap;
        margin: 20px;
        width: 80%;

        button {
            margin: 5px;
        }
    }
}

.Grid {
    margin: 25px 0;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    column-gap: 20px;
    row-gap: 45px;

    &__item {
        @include FlexBox(center, center, column);
        position: relative;
        width: 100%;
        align-self: center;
        justify-self: center;
        left: 10px;

        label {
            font-family: $font-rubik;
            letter-spacing: 2px;
            text-align: center;
        }
    }

    &__button {
        position: relative;
        align-self: center;
        justify-self: center;
        left: 10px;
    }
}

.Titulo {
    @include FlexBox(center, center, row);
    margin: 5px 0 10px 0;
    font-family: $font-rubik;
    letter-spacing: 2px;
    color: #140172;
    font-family: $font-family;

    @media only screen and (max-width: 600px) {
        & {
            font-size: 0.8rem;
        }
    }

    @media only screen and (max-width: 500px) {
        & {
            text-align: center;
        }
    }
}

.ContainerInput {
    position: relative ;
    width: 100% ;
    letter-spacing: 2px;
    font-family: $font-family;

    select {
        height: 50px;
        width: 94%;
        letter-spacing: 2px;
        font-family: $font-family;
    }

    &__Input {
        border: 1px solid grey;
        outline: none;
        background-color: $color-background-container;
        width: 90%;
        height: 35px;
        border-radius: $border-radius;
        padding: 0.5rem;
        font-size: $font-size;
        font-weight: $font-weight;

        &:not(:placeholder-shown) ~ span, &:focus ~ span {
            transform: translateX(0px) translateY(-30px);
            font-size: 0.8em;
            padding: 0 10px;
        }

        @media only screen and (max-width: 500px) {
            & {
                font-size: 1rem;
            }
        }

        @media only screen and (max-width: 360px) {
            &:not(:placeholder-shown) ~ span, &:focus ~ span {
                transform: translateX(0px) translateY(-30px);
                font-size: 0.6em;
                padding: 0 10px;
            }
        }
    }

    &__Span {
        position: absolute;
        left: 0;
        top: 10px;
        padding: 10px;
        pointer-events: none;
        font-size: 1rem;
        text-transform: uppercase;
        transition: 0.5s;

        @media only screen and (max-width: 500px) {
            & {
                font-size: 0.8rem;
            }
        }

        @media only screen and (max-width: 360px) {
            & {
                font-size: 0.6em;
            }
        }
    }
}