.Container-Home{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(80, 130, 5);
    width: 15vw;
    height: 100vh;
    
    .Menu-Left {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;

        &__User{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            &__Imagen {
                height: 150px;
                width: 150px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        &__Buttons {
            display: flex;
            flex-direction: column;
        }
    }

    .Container-Menu{
        height: 100%;
        width: 100%;
        background-color: rgb(80, 130, 5);
    }
}