

.container-button {
    margin: 10px;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 50px;
	background: var(--color-button);
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 100;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}

.container-button__span {
	transition: .4s ease-in-out all;
	position: absolute;
	left: 25%;
}

.container-button__span-registrar{
    transition: .4s ease-in-out all;
	position: absolute;
	left: 30%;
}

.container-button__icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -40px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.container-button:hover {
	background: var(--color-button-active);
}

.container-button:hover .container-button__icono {
	left: calc(100% - 30px);
	opacity: 1;
}

.container-button:hover span {
	left: 20px;
}


.Container_Form3{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 550px;
    width: auto;
    min-height: 350px;
    height: auto;
    background-color: var(--color-background-container);
    border-radius: var(--font-size-large);
    animation: animation infinite ease-out 4s;
}

@keyframes animation {
    0%{box-shadow: 0 0 10px 0 rgba(88,192,255,0.5)}
    33%{box-shadow: 0 0 10px 0 rgba(1,132,251,0.5)}
    66%{box-shadow: 0 0 10px 0 rgba(1,132,251,0.5)}
    100%{box-shadow: 0 0 10px 0 rgba(88,192,255,0.5)}
}

.Form3 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 550px;
	width: auto;
	min-height: 300px;
	height: auto;
}
