@import "../../../Styles/Mixins";
@import "../../../Styles/Variables";

.Container {
  @include FlexBox(center, center, column);
  padding: 20px 0;
}

.ContainerData {
  @include FlexBox(center, center, row);
  padding: 20px 0;
}

.ContainerInput {
  position: relative;
  width: 100%;
  letter-spacing: 2px;
  font-family: $font-family;

  &__Input {
    border: 1px solid grey;
    outline: none;
    background-color: $color-background-container;
    width: 90%;
    height: 35px;
    border-radius: $border-radius;
    padding: 0.5rem;
    font-size: $font-size;
    font-weight: $font-weight;

    &:not(:placeholder-shown) ~ span,
    &:focus ~ span {
      transform: translateX(0px) translateY(-30px);
      font-size: 0.8em;
      padding: 0 10px;
    }

    @media only screen and (max-width: 500px) {
      & {
        font-size: 1rem;
      }
    }

    @media only screen and (max-width: 360px) {
      &:not(:placeholder-shown) ~ span,
      &:focus ~ span {
        transform: translateX(0px) translateY(-30px);
        font-size: 0.6em;
        padding: 0 10px;
      }
    }
  }

  &__Span {
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.5s;

    @media only screen and (max-width: 500px) {
      & {
        font-size: 0.8rem;
      }
    }

    @media only screen and (max-width: 360px) {
      & {
        font-size: 0.6em;
      }
    }
  }
}

.Flex {
    @include FlexBox(center, center, row);
    flex-wrap: wrap;
    width: 80%;

    &__item {
        width: 250px;
        margin: 0 20px;
    }
}

.Button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background: $color-button;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 100;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;

  &__Span {
    transition: 0.4s ease-in-out all;
    position: absolute;
    left: 14%;
    color: #fff;
  }

  &__Icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
    left: -40px;
    transition: 0.3s ease-in-out all;
    opacity: 0;
  }

  &:hover {
    background: $color-button-active;
  }

  &:hover &__Icono {
    left: calc(100% - 30px);
    opacity: 1;
  }

  &:hover &__Span {
    left: 15px;
  }
}

.Titulo {
  @include FlexBox(center, center, row);
  margin: 5px 0 10px 0;
  font-family: $font-rubik;
  letter-spacing: 2px;
  color: #140172;
  font-family: $font-family;

  @media only screen and (max-width: 600px) {
    & {
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 500px) {
    & {
      text-align: center;
    }
  }
}

.Grid {
  margin: 50px 0;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  column-gap: 20px;
  row-gap: 45px;

  &__item {
    position: relative;
    width: 100%;
    align-self: center;
    justify-self: center;
  }

  &__button {
    position: relative;
    align-self: center;
    justify-self: center;
  }
}

.ContainerTable {
  width: 90%;
  overflow-x: scroll;

  @media only screen and (max-width: 500px) {
    & {
      width: 80%;
    }
  }

  .Table {
    background: rgb(202, 196, 196);
    width: 100vw;
    margin: 0 auto;
    margin-top: 2%;
    border-collapse: collapse;
    text-align: center;

    th {
      width: auto;
      background-color: rgb(4, 63, 82);
      border-bottom: 1px solid rgb(210, 220, 250);
      color: rgb(223, 216, 216);
      text-align: center;
    }
    td {
      color: rgb(32, 35, 36);
      height: 30px;
      border: 0.5px solid rgba(240, 240, 240, 10);
    }
    tr:hover {
      background-color: rgb(167, 248, 244);
    }
    .actionsBeneficiary {
      background-color: rgba(2, 9, 78, 0.192);
      text-align: center;
    }
    .tooltip {
      position: relative;
      display: inline-block;
    }

    .tooltip .tooltiptext {
      visibility: hidden;
      width: 120px;
      background-color: #02143b;
      color: #fff;
      text-align: center;
      border-radius: 6px;
      padding: 5px;
      position: absolute;
      z-index: 1;
      bottom: 125%;
      left: 50%;
      margin-left: -60px;
      opacity: 0;
      transition: opacity 0.3s;
    }

    .tooltip:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    @media only screen and (max-width: 500px) {
      & {
        width: 80vw;
      }
    }

    @media only screen and (max-width: 460px) {
      & {
        width: 100vw;
      }
    }
  }
}
