*{
    margin: 0;
    padding: 0;
}

.Container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    background-image: url(../../assets/images/Backgroud.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Container__Imagen {
    position: absolute;
    left: 200px;
    z-index: 0;
    padding: 10px;
    height: 800px;
    width: 1000px;
    display: flex;
    background-color: var(--color-background-dark);
    border-radius: var(--font-size-large);
}

.Container__Imagen img {
    width: 100%;
    height: 100%;
}

/*Arauz*/

.Container_Form{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-width: 500px;
    width: auto;
    min-height: 550px;
    height: auto;
    background-color: var(--color-background-container);
    border-radius: var(--font-size-large);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.7);
}

.Logo{
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 300px;
}

.Container_Titulo {
    margin-bottom: 20px;
}

.Title{
    font-size: var( --font-size-large);
    font-weight: var(--font-weight);
    color: var( --color-text);
}

/* .Form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
} */

.Container_Email{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container_Email .Email-Content {
    position: relative;
    width: 60%;
}

.Email-Content input {
    padding: 10px;
    border: 1px solid grey;
    outline: none;
    background-color: var(--color-background-container);
}

.Email-Content span{
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.5s;
}

.Email-Content input:not(:placeholder-shown) ~ span,
.Email-Content input:focus ~ span
{
    transform: translateX(0px) translateY(-28px);
    font-size: 0.95em;
    padding: 0 10px;
}

.Container_password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container_button_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_login{
    background-color: var(--color-button);
    color: var(--color-text-secondary);
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
}

.button_login:hover{
    background-color: var(--color-button-hover);
}

.button_login:active{
    background-color: var(--color-button-active);
    color: #f5f5f5;
}

.Container_password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button_showPassword {
    border: none;
    position: absolute;
    top: 10px;
    right: 0;
    color: var(--color-text);
    height: 2rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
}

.Container_button_showPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button_showPassword:hover{
    background-color: var(--color-button-hover);
}

.button_showPassword:active{
    background-color: var(--color-button-active);
    color: #f5f5f5;
}

.link_register{
    color: var(--color-button);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-decoration: none;
    margin-top: 1rem;
}

.link_register:hover {
    color: var(--color-button-hover);
}

.link_register:active {
    color: var(--color-button-active);
}