.prueba_Valido {
    background-color: #000 !important;
}

.prueba_Invalido {
    background-color: red !important;
}

.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-background);
    background-image: url(../../assets/images/Backgroud.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Container__Imagen {
    position: absolute;
    z-index: 0;
    padding: 10px;
    height: 800px;
    width: 1000px;
    display: flex;
    background-color: var(--color-background-dark);
    border-radius: var(--font-size-large);
}

.Container__Imagen img {
    width: 100%;
    height: 100%;
}

.Container-Modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    animation: Aparecer ease-in 0.2s;
}

@keyframes Aparecer {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.Container-Modal__Capa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.711);
}

.Container-Modal__Modal {
    color: #95722d;
    background-color: #f8f3d6;
    height: 150px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: var(--border-radius);
    box-shadow: 0 0 20px 0 #95722d
}

.Container-Modal__Icono {
    font-size: 60px;
}

.Container-Modal__Error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Titulo {
    font-family: var(--font-rubik);
    font-size: 25px;
    font-weight: 600;
    margin: 5px 0;
    letter-spacing: 3px;
}

.Error {
    font-family: var(--font-rubik);
    font-size: 20px;
    font-weight: 300;
    margin: 5px 0;
    letter-spacing: 3px;
}

.Container-Modal__Icono-Cerrar {
    font-size: 50px;
}

.Container-Modal__Icono-Cerrar:hover {
    cursor: pointer;
}

/*Arauz*/
.Container_Form {
    font-family: var(--font-family);
    letter-spacing: 1px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    min-height: 650px;
    height: auto;
    background-color: var(--color-background-container);
    border-radius: var(--font-size-large);
    animation: animation infinite ease-out 4s;
}

@keyframes animation {
    0%{box-shadow: 0 0 10px 0 rgba(88,192,255,0.5)}
    33%{box-shadow: 0 0 10px 0 rgba(1,132,251,0.5)}
    66%{box-shadow: 0 0 10px 0 rgba(1,132,251,0.5)}
    100%{box-shadow: 0 0 10px 0 rgba(88,192,255,0.5)}
}

.Logo{
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logo img{
    width: 100%;
    height: 100%;
}

.Container_Form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 400px;
}

.Container_Titulo {
    margin-bottom: 20px;
}

.Title {
    font-family: var(--font-family);
    font-size: var( --font-size-large);
    font-weight: var(--font-weight);
    color: var( --color-text);
    letter-spacing: 10px;
}

.Container_Email{
    margin: 10px 0 10px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Container_Email .Email-Content {
    left: -10px;
    position: relative;
    width: 80%;
}

.Email-Content input {
    padding: 10px;
    border: 1px solid grey;
    outline: none;
    background-color: var(--color-background-container);
}

.Email-Content span{
    position: absolute;
    left: 0;
    top: 10px;
    padding: 10px;
    pointer-events: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: 0.5s;
}

.Email-Content input:not(:placeholder-shown) ~ span,
.Email-Content input:focus ~ span
{
    transform: translateX(0px) translateY(-30px);
    font-size: 0.95em;
    padding: 0 10px;
}

.Container_password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Container_button_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_login{
    background-color: var(--color-button);
    color: var(--color-text-secondary);
    width: 100%;
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 1rem;
    font-size: var(--font-size);
    cursor: pointer;
}

.button_login:hover{
    background-color: var(--color-button-hover);
}

.button_login:active{
    background-color: var(--color-button-active);
    color: #f5f5f5;
}

.Container_password{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.button_showPassword {
    border: none;
    position: absolute;
    top: 10px;
    right: 0;
    color: var(--color-button);
    height: 2rem;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    cursor: pointer;
}

.Container_button_showPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.button_showPassword:hover{
    color: var(--color-button-hover);
}

.link_register{
    color: var(--color-button);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-decoration: none;
    padding: 0 10px;
}

.link_register:hover {
    color: var(--color-button-hover);
}

.link_register:active {
    color: var(--color-button-active);
}

.container-button__span-iniciar{
    transition: .4s ease-in-out all;
	position: absolute;
	left: 18%;
}

.container-button:hover .container-button__span-iniciar {
	left: 15px;
}

.Container_Registrar {
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 715px) {
    .Container-Modal__Modal {
        width: 500px;
    }

    .Container-Modal__Error .Error {
        letter-spacing: 1px;
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .Container_Form {
        width: 400px;
    }

    .Container-Modal__Modal {
        flex-direction: column;
        width: 300px;
        height: 300px;
    }

    .Container-Modal__Error .Error {
        padding: 10px;
    } 
}

@media only screen and (max-width: 480px) {
    .Container_Form {
        width: 350px;
    }

    .Container-Modal__Modal {
        flex-direction: column;
        width: 300px;
        height: 300px;
    }
}

@media only screen and (max-width: 400px) {
    .Container_Form {
        width: 300px;
    }

    .Container-Modal__Modal {
        flex-direction: column;
        width: 250px;
        height: 300px;
    }

    .Container-Modal__Error .Error {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .Container_Registrar {
        flex-direction: column;
    }

    .Logo {
        height: 170px;
        width: 170px;
    }
}

@media only screen and (max-width: 330px) {
    .Container_Form {
        width: 230px;
        min-height: 430px;
        padding: 10px;
    }

    .Container-Modal__Modal {
        flex-direction: column;
        width: 230px;
        height: 300px;
    }

    .Container-Modal__Error .Error {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .Logo {
        height: 130px;
        width: 130px;
    }

    .Container_Titulo .Title {
        font-size: 18px;
    }

    .Email-Content span, .Container_password span {
        font-size: 10px;
    }

    .Email-Content input:not(:placeholder-shown)~span,
    .Email-Content input:focus~span {
        font-size: 12px;
    }
}