@import '../../Styles/Mixins';
@import '../../Styles/Variables';

.Container {
    @include FlexBox(center, center, column)
}

.Titulo {
    @include FlexBox(center, center, row);
    margin: 5px 0 10px 0;
    font-family: $font-rubik;
    letter-spacing: 2px;
    color: #140172;
    font-family: $font-family;

    @media only screen and (max-width: 600px) {
        & {
            font-size: 0.8rem;
        }
    }

    @media only screen and (max-width: 500px) {
        & {
            text-align: center;
        }
    }
}