@import '../../Styles/Mixins';
@import '../../Styles/Variables';

.Container {
    @include FlexBox(center, center, column);
    width: 100%;
}

.ContainerSearch {
    margin: 10px 0;
    height: 100px;
    width: 70%;
    @include FlexBox(center, center, row);
}

.ContainerInput {
    margin: 0 30px;
    left: -10px ;
    position: relative ;
    width: 20% ;

    &__Input {
        border: 1px solid grey;
        outline: none;
        background-color: $color-background-container;
        width: 100% ;
        height: 2rem ;
        border-radius: $border-radius ;
        padding: 0.5rem ;
        font-size: $font-size ;
        font-weight: $font-weight ;

        &:not(:placeholder-shown) ~ span, &:focus ~ span {
            transform: translateX(0px) translateY(-30px);
            font-size: 0.8em;
            padding: 0 10px;
        }
    }

    &__Span {
        position: absolute;
        left: 0;
        top: 10px;
        padding: 10px;
        pointer-events: none;
        font-size: 1rem;
        text-transform: uppercase;
        transition: 0.5s;
    }
}

.Titulo {
    @include FlexBox(center, center, row);
    margin: 5px 0 10px 0;
    font-family: $font-rubik;
    letter-spacing: 2px;
    color: #140172;
    font-family: $font-family;

    @media only screen and (max-width: 600px) {
        & {
            font-size: 0.8rem;
        }
    }

    @media only screen and (max-width: 500px) {
        & {
            text-align: center;
        }
    }
}